
h1 {
    color: white;
    font-size: 60px;
    font-family: ar-weibeigbstd,sans-serif;
    font-weight: 1900;
    font-style: normal;
}

h3 {
    color: #990000;
}

/*
.headeradmin {
	left:0px;
	top:0px;
	height:20px;
}


.navbar-header {
	padding-left: 40px;
	padding-top: 0px;
	
}

.nav {
	padding-top: 40px;
	padding-right: 60px;
	
}

.navbar {
	background-color: white;
	border-color: white;
}



.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
  
}

.form-inline{
    padding-left: 100px;
}
*/

.container {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 0;
    padding-top:0;
    background-color: white;
}

body {
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tr:hover {
    background-color: #D6EEEE;
}
    
.jumbotron {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/bgfu1.png");
    background-size: cover;
    height: 350px;
}

.lessonmenu {
	padding-right: 10px;
}


